<div class="center ">
  <h1>Contact Us</h1>
  <form [formGroup]="firstform" (ngSubmit)="submitForm()" class="container mt-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Name</label>
      <input formControlName="Name" type="text" class="form-control" placeholder="Enter your name">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Email</label>
      <input formControlName="email" type="email" class="form-control" placeholder="Enter your email">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"> Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
        placeholder="Enter your message"></textarea>
    </div>
    <div class="mb-4">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
