
<div class="container">
  <h1>Create Post</h1>
  <form [formGroup]="createpostform" (ngSubmit)="submitForm()" class="container mt-5">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input formControlName="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter post title">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Description</label>
  <input formControlName="description" type="text" class="form-control" id="exampleFormControlInput1" rows="2" placeholder="Enter your discription">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Image Url</label>
  <input formControlName="imageurl" type="url" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter iamage url">
</div>
<div class="mb-4">
  <button mat-raised-button color="primary">Create</button>
</div>
</form>
</div>

