 <!-- <div class="d-flex align-item-center" style="text-align: center;">
  <div>
  <h2>About Us</h2>
  <mat-icon>question</mat-icon>
</div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dicta soluta pariatur enim molestiae sit. Modi, quisquam ullam doloribus tenetur porro, harum laudantium labore eius aspernatur, ipsum ad recusandae dolorem ipsa impedit aliquam? Soluta, sunt provident, aspernatur impedit omnis accusantium quisquam maxime maiores earum aliquid asperiores magnam iusto ex itaque iste voluptatum! Quam iste ea quos, doloremque vitae optio sapiente facere, numquam voluptate corrupti, non qui earum odit. Quis totam nostrum incidunt impedit aliquam molestias cumque dolore qui libero quaerat!</p>
</div> -->


<mat-grid-list cols="2" rowHeight="2:1" fxLayout="row" fxLayoutAlign="center center"style="height: 170vh; width: 100%%" >
  <mat-grid-tile>
    <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 style="font-size: 30px;font-family: Georgia, 'Times New Roman', Times, serif;">About<span style="font-size: 40px;color: blue;">Us</span></h1>
    <mat-icon>contact_support</mat-icon>
   </div>
  </mat-grid-tile>
  <mat-grid-tile style="font-size: 20px; line-height: 1.5;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, odio fuga doloribus tempore aperiam ratione quam et laudantium pariatur nulla odit, impedit eveniet totam ullam enim ab amet reiciendis. Modi nesciunt suscipit, exercitationem porro impedit quidem rem nam qui ipsum dolorum nulla minus tempore libero quis incidunt non vero ipsam.</mat-grid-tile>
</mat-grid-list>

<div class="container">
    <app-carousel [slides]="slides"></app-carousel>
</div>
<app-post-view [postList]="postList"></app-post-view>

