.example-container {
    height: 100%;
}

.example-sidenav {
    width: 25%;
    text-align: center;
    overflow-y: hidden;
}

.example-sidenav img{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    background-size: contain;
}

/* .example-sidenav img:hover{
    
} */

.info{
    display: inline-block;
    text-align: left;
}


.info a{
    text-decoration: none;
    cursor: pointer;
}

.info a:hover{
    opacity: 0.8;
}

.primary-color{
    color: #3f51b5;
}
  