<div class="container-fluid d-flex justify-content-around" >
  <mat-drawer-container class="example-container" autosize style="width: 100%">
     <button class="m-3" (click)="drawer.toggle()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 25%" [opened]="true">
    <div  class="left my-5" >
   <form >
      <fieldset>
        <legend>Filter</legend>
        <div class="mb-3 mx-3">
          <input
            type="text"
            id="textInput"
            class="form-control"
            placeholder=" search"
          />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-primary mx-5">Reset</button>
        </div>
      </fieldset>
    </form>
  </div>
  </mat-drawer>
  <div class="example-sidenav-content">
 <div style="  overflow: hidden;" class="right" >
    <app-post-list></app-post-list>
  </div>
  </div>
</mat-drawer-container>
</div>




