 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100%;


 }

 .login-container {
     padding:20px ;
     height: 350px;
     width: 40%;
     border: solid 1px;
     border-radius: 10px;
     border-color: rgb(206, 202, 202);
 }

 h1 {
     text-align: center;
 }

 .button {
     text-align: center;

 }

 .button a {
     text-decoration: none;
     color: #3f51b5;
     margin-left: 5px;

 }

 p {
     padding-top: 20px;
 }