<div class="row text-left d-flex justify-content-center" >
  <form class="my-5" *ngIf="searchFlag">
    <fieldset>
      <div class="mx-3 d-flex">
        <input
          type="text"
          id="textInput"
          class="form-control mx-3"
          style="width: 30%"
          placeholder=" post title"
        />
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </fieldset>
  </form>
  <div
    class="col-md-6 col-sm-8 mt-5"
    style="width: 500px"
    *ngFor="let post of postList"
  >
    <!-- <mat-card class="example-card" *ngIf="!post.shared_post">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image [src]="'data:image/png;base64,' + post.user.image"alt="user img" />

        </div>
        <mat-card-title>{{ post.user.name }}</mat-card-title>
        <mat-card-subtitle>{{ post.createAt }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="my-2">
        <p>{{ post.content }}</p>
      </mat-card-content>
      <mat-card class="example-card m-4">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
          <img mat-card-image [src]="'data:image/png;base64,' + post.sharedPost.user.image" alt="user img" />
          </div>
          <mat-card-title>{{ post.shared_post }}</mat-card-title>
          <mat-card-subtitle>Hello there</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="'data:image/png;base64,' + post.image"alt="user img" />
        <mat-card-content class="my-2">
          <p>
            {{ post.sharedPost.content }}
          </p>
          <h3>Posted 22/8/202</h3>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-around">
          <button mat-icon-button color="warn" (click)="onLoveClick()">
            <mat-icon *ngIf="!isLoved">favorite_border</mat-icon>
            <mat-icon *ngIf="isLoved">favorite</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onLikeClick()">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card-actions class="d-flex justify-content-around">
        <span>10k</span>
        <button mat-icon-button color="warn" (click)="onLoveClick()">
          <mat-icon *ngIf="!isLoved">favorite_border</mat-icon>
          <mat-icon *ngIf="isLoved">favorite</mat-icon>
        </button>
        <span>12k</span>
        <button mat-icon-button color="primary" (click)="onLikeClick()">
          <mat-icon>thumb_up</mat-icon>
        </button>
        <span>5</span>
        <button mat-icon-button color="primary">
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card> -->

   <app-post-card [post]="post"></app-post-card>
  </div>
</div>
<mat-paginator
  style="font-size: large"
  class="m-5"
  [length]="postList.length"
  [pageSizeOptions]="[5, 10, 15]"
  aria-label="Select page"
>
</mat-paginator>
