

<div class="carousel">
  <div class="slide">
    <mat-grid-list cols="2" rowHeight="4:3">
      <mat-grid-tile>
        <div class="text-container mx-5" *ngFor="let slide of slides; let i = index">
          <h3 *ngIf="i === currentIndex" class="text-secondary">Navigating the business world</h3>
          <h1 *ngIf="i === currentIndex">{{slide.title}}</h1>
          <p  *ngIf="i === currentIndex" class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="{{getUrl()}}" class="img-fluid image" alt="...">
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  
  <div class="dotsContainer carousel slide">
    <div #ele class="dot" 
         *ngFor="let slide of slides; let slideIndex = index" 
         (click)="goToSlide(slideIndex)"
         [ngClass]="{'active': slideIndex == currentIndex}">•</div>
  </div>
</div>
